.mybox1-a {
	font-size: 1rem;
	line-height: 1.25;
	background: #fff;
	color: #4b4b4b;
	margin-bottom: 1.5rem;
	border-radius: .375rem;
	margin:0px 20px 5px 0px;
    padding:5px;
	font-weight: 400;
}
.dark .mybox1-a
{
    color:#fff;
    background:#3D3780
}
.mybox1-a .card-body .btn-group .btn
{
    color:#000;
}

.card
{
    min-width:120px;
}
.mybox1-a.active
{
    box-shadow: 0 2px 12px 0 #dfe3eb;
}
.lamp1
{
    color:#808080 ;
}

.lamp1.active{
    color:#000;
    background:linear-gradient(90deg,#fc0,#ffa100);
}
.lamp1.active .span{
    color:black;
}

.dark .lamp1.active
{
    color:#000;
}

.dark .player
{
    background:#3D3780;
    
}
.dark .player .right
{
    color:#fff;

}
.dark .player .right .buttons .play
{
    border: 2px solid  #fff ;
}
.dark .player .right .info .more span
{
    border:2px solid #fff;
}
.player {
    width:100%;
    min-height:320px;
  /*height: 40px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  overflow: hidden;
  position: relative;
  background: #fff;
  
}
.player .left {
  background: #343838;
  position: absolute;
  widtH: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  transition: 0.35s ease-in-out;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player .left ul {
  list-style: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.player .left ul li {
  dispaly: block;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.player .left ul li:last-child {
  border-bottom: none;
}
.player .left ul li:hover {
  background: #bbe7be;
}
.player .left ul li:hover a {
  color: #343838;
}
.player .left ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: 0.15s ease-in-out;
}
.player .left.open {
  transform: translate(0%, 0);
}
.player .left .closeLeft {
  font-size: 35px;
  position: absolute;
  right: 20px;
  top: 9px;
  cursor: pointer;
  color:#fff;
}
.player .right {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  transform: translate(0%, 0);
  transition: 0.35s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.player .right .nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  dispaly: block;
  height: 62px;
  padding: 0 20px;
  width: 100%;
}
.player .right .nav .logo {
  font-weight: bold;
}
.player .right .nav .logo span {
  color: #bbe7be;
}
.player .right .nav .hamburger {
  font-size: 35px;
  cursor: pointer;
}
.player .right.closed {
  transform: translate(100%, 0);
  transition: 0.75s ease-in-out;
}
.player .right img {
  max-widtH: 100%;
}
.player .right .album {
 height:100px;
 width:70%;
 margin-right:15%;
 margin-left:15%;
 overflow:hidden;
 margin-top:20px;
}
.player .right .song-meta-data {
  text-align: center;
}
.player .right .song-meta-data .title {
  margin-bottom: 0;
}
.player .right .song-meta-data p {
  font-size: 12.5px;
  margin: 0;
}
.player .right .buttons {
 
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 25px;
}
.player .right .buttons .back, .player .right .buttons .play, .player .right .buttons .next {
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.player .right .buttons .back:hover, .player .right .buttons .play:hover, .player .right .buttons .next:hover {
  border-color: #bbe7be;
  color: #bbe7be;
}
.player .right .buttons .play {
  width: 50px;
  heighT: 50px;
  display: block;
  border-radius: 50px;
  border: 2px solid #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player .right .buttons .play .fa {
  margin-right: -3px;
}
.player .right .buttons .play .fa.fa-pause {
  margin-right: 0;
}
.player .right .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  direction:ltr;
}
.player .right .info .dropDown {
  position: absolute;
  width: 100%;
  background: #343838;
  top: 0;
  transform: translate(0%, -100%);
  color: white;
  padding: 20px;
  transition: 0.15s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.player .right .info .dropDown.open {
  opacity: 1;
  pointer-events: inherit;
}
.player .right .info .dropDown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.player .right .info .dropDown ul li {
  padding: 10px 0;
}
.player .right .info .dropDown ul li.song {
  color: #bbe7be;
}
.player .right .info .dropDown ul li a {
  color: white;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
.player .right .info .dropDown ul li a:hover {
  color: #bbe7be;
}
.player .right .info .song-played {
  width: 100%;
  padding: 0 10px;
  position: relative;
}
.player .right .info .song-played .bar {
  width: 100%;
  height: 20px;
  background: #343838;
  border-radius: 10px;
}
.player .right .info .song-played .bar .inner-bar {
  height: 20px;
  background: #95da99;
  position: relative;
  border-radius: 10px;
}
.player .right .info .song-played .bar .inner-bar .dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: white;
  right: 0;
}
.player .right .info .song-played .bar .inner-bar .dot:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #999;
}
.player .right .info .song-played p {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 235px;
  font-size: 12.5px;
}
.player .right .info .song-played p span {
  display: block;
}
.player .right .info .more {
  display: flex;
  cursor: pointer;
}
.player .right .info .more:hover span, .player .right .info .more.active span {
  background: #bbe7be;
  border: 2px solid #bbe7be;
}
.player .right .info .more span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  margin: 2.5px;
  transition: 0.15s;
}
.player .right .info .heart {
  font-size: 20px;
  cursor: pointer;
}
.player .right .info .heart .fa-heart-o {
  transition: 0.15s ease-in-out;
}
.player .right .info .heart.hearted {
  color: #bbe7be;
}
.player .right .info .heart.hearted .fa-heart-o:before {
  content: "";
}
.player .sound input{
    width:70px;
    direction:ltr;

}
.player .sound
{
padding: 3px;
}
.player .sound i{
    font-size:12px;
    position:absolute;
}